In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
import altair as alt
from IPython import display

# Set the altair theme
def my_theme(*args, **kwargs):
    return {'config': {'axis': {'labelFontSize': 20, 'titleFontSize': 20}}}
alt.themes.register('my-chart', my_theme)
alt.themes.enable('my-chart')

ThemeRegistry.enable('my-chart')

In [13]:
def convert_tz(series):
    series = pd.to_datetime(series, errors='coerce', utc=True)
    # series = series.dt.tz_localize('UTC')
    return series.dt.tz_convert('US/Pacific')

path_sessions = '../data/features/fall-2018/user-sessions.jsonl'
sessions = pd.read_json(path_sessions, convert_dates=['start', 'stop'])

for col in ['start', 'stop']:
    sessions[col] = convert_tz(sessions[col])

In [14]:
daily_active_users = pd.DataFrame(sessions.set_index('start')['user'].resample('D').nunique()).reset_index()
daily_active_users

                        start  user
0   2018-08-17 00:00:00-07:00    13
1   2018-08-18 00:00:00-07:00    38
2   2018-08-19 00:00:00-07:00    24
3   2018-08-20 00:00:00-07:00    53
4   2018-08-21 00:00:00-07:00   135
..                        ...   ...
147 2019-01-11 00:00:00-08:00    86
148 2019-01-12 00:00:00-08:00    64
149 2019-01-13 00:00:00-08:00    65
150 2019-01-14 00:00:00-08:00    97
151 2019-01-15 00:00:00-08:00    31

[152 rows x 2 columns]

In [25]:
alt.Chart(daily_active_users, width=1500).mark_line().mark_circle(x=datetime.strptime('2018-08-17', '%Y-%m-%d'), y=0, color="red").encode(
    x='start',
    y='user'
)

NameError: name 'red' is not defined